<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AUTH</a>
    </div>
    <div id="nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">My Posts</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-danger navbar-btn">Log Out</button>
    </div>
  </div>
</nav>
