! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: false

!URxvt.secondaryScreen: 1
!URxvt.secondaryScroll: 0
!URxvt.secondaryWheel: 1

!URxvt.font: 9x15
!URxvt.font: 9x15bold
!URxvt.font: -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso8859-1
!URxvt.font: xft:monaco:size=10
!URxvt.font: xft:monaco:bold:size=10
!URxvt*font: xft:Courier Prime Code:size=10
! URxvt*font: xft:MyFont:size=10 
!URxvt*font: xft:CourierPrimeCode Nerd Font:size=10
!URxvt*font: xft:CourierPrimeCode Nerd Font Mono:size=10
!URxvt*font: xft:CourierPrimeCode Nerd Font Mono:size=11
!URxvt*font: xft:Courier Prime Code:style=Regular
!URxvt*font: xft:Noto Mono:style=Regular
!URxvt.font: xft:DejaVu Sans:pixelsize=14,xft:Symbola,xft:Noto Emoji:minspace=False
!URxvt.font: xft:Courier Prime Code



! printf '\e]710;%s\007' "xft:CourierPrimeCode Nerd Font Mono:pixelsize=14"
! printf '\e]710;%s\007' "xft:Courier Prime:pixelsize=14"
! URxvt.font: xft:Courier Prime:style=Regular:pixelsize=14
! URxvt.font: xft:CourierPrimeCode Nerd Font Mono:style=Regular:pixelsize=14:antialias=true,xft:Courier Prime:style=Regular:pixelsize=14:antialias=true
!URxvt.font: xft:CourierPrimeCode Nerd Font Mono:pixelsize=14
!URxvt.font: xft:Courier Prime Code
!uRxvt.font: xft:Arial:pixelsize=16
!uRxvt.font: xft:Adobe Courier:pixelsize=16
!URxvt.font: xft:Source Han Sans CN:pixelsize=14
!URxvt.font: xft:Source Han Sans CN:pixelsize=14
!URxvt.font: xft:Courier Prime Code, xft:Source Han Sans CN:pixelsize=14
!URxvt.font: xft:Courier Prime Code, xft:Source Han Sans CN
!URxvt.font: xft:Courier Prime Code, xft:Source Han Sans JP
!URxvt.font: xft:Courier Prime Code:pixelsize=14:antialias=true, xft:Source Han Sans CN:pixelsize=14:antialias=true
!URxvt.font: xfg:CourierPrimeCode Nerd Font Mono:pixelsize=14:antialias=true
URxvt.font: xft:CourierPrimeCode Nerd Font Mono:pixelsize=14:antialias=true

!/usr/share/fonts/TTF/My Font Regular.ttf: CourierPrimeCode Nerd Font:style=Regular 
!URxvt.font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso8859-1
!URxvt.color12: rgb:5c/5c/ff
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0

!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0

!URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1

URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
!URxvt*background: rgb:00/00/00
URxvt*background: rgb:11/11/11
URxvt*foreground: rgb:FF/FF/FF
URxvt*cursorColor: rgb:FF/FF/33

XTerm*background: rgb:00/00/00
XTerm*foreground: rgb:FF/FF/FF
!XTerm*font: xft:Courier Prime Code
XTerm*font: xft:CourierPrimeCode Nerd Font Mono:pixelsize=14:antialias=true

dzen2.font:       -*-fixed-*-*-*-*-*-*-*-*-*-*-*-*
dzen2.foreground: #FF0000
dzen2.background: #00FFF0
